# ======================
# Visual Studio
# ======================
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# ======================
# .NET
# ======================
bin/
obj/

# ======================
# Angular / Node
# ======================
node_modules/
dist/
out-tsc/

# ======================
# OS
# ======================
Thumbs.db
.DS_Store
